body{
	margin: 0;
	font-family: Arial;
}

.wrapper{
	background: whitesmoke;
	width: 1024px;
	height: 1024px;
	margin: 0 auto;
}

h1{
	text-align: center;
}


.image{
	width: 200px;
	height: 165px;
	margin: 0 auto;
}

img{
	width: 200px;
}
.block{
	border-top: 1px solid lightgray;
	width: 640px;
	margin: 0 auto;
}

.job{
	color: dimgray;
	font-size: 14px;
	margin: 20px 0 20px 0;
	text-align: center;
}

hr{
	margin: 20px 0 0 0;
}

h3{
	font-size: 18px;
	text-align: left;
}

li{
	padding-top:4px;
}

.text{
	font-size: 12px;
	text-align: left;
}

a{
	font-style: italic;
	color: blue;
}